<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/combined.css') }}">

</head>
<body>
    <!---heading part of the web page. -->
    <header>
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        <h1>WELCOME</h1>
        <nav>
            <ul>
              <li><a href="/home" accesskey='a'>Home</a></li>
              <li><a href="/signup" accesskey='b'>Signup</a></li>
              <li><a href="/login" accesskey='b'>Login</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <h1>Fill your details:</h1>
            <form method="post" action='http://localhost:5000/contact'>
                <fieldset>
                    <label for="email">Enter Your Email: <input id="email" name="email" type="email" required /></label>
                    <label for="problem">Describe your problem:
                        <textarea id="problem" name="problem" rows="8" cols="60" placeholder="Not able to connect..."></textarea>
                    </label>
                </fieldset>
            <input type="submit" value="Send" class="button" style="margin-left: 60%"/>
            </form>
        </main>
</body>
</html>